body {
  /* background: url(https://cdn.pixabay.com/photo/2020/04/18/01/42/portal-5057351_1280.jpg) no-repeat;
  background-position: center;
  background-size: cover; */
  margin: 0;
  /* background: #747474; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Kite One';
  src: local('KiteOne-Regular'), url(./fonts/KiteOne-Regular.ttf) format('truetype');
}
