.intro-container {
  position: relative;
  color: black;
  background: url(https://cdn.pixabay.com/photo/2019/06/22/12/53/galaxy-4291517_1280.jpg) no-repeat;
  background-size: cover;
}

.timeout-container {
  position: relative;
  z-index: 30;
}


.cor-nav {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    z-index: 1;
}

.eye {
  color: white;
  margin-bottom: 0;
}
